<html>
    <head>
      <title>{{ title }} </title>
    </head>
    <body>
        <ul>
          <li class="navLink"><a href="/library">Home</a></li>
        </ul>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>