{% extends "base.jinja" %}

{% block content %}
    <h2>Book</h2>
    <p>
            <li>
                <b> Title - </b> {{ book.title }}
            </li>
            <li>
                <b> Author -  </b> {{ book.author }} 
            </li>
            <li>
                <b> Genre - </b> {{ book.genre }} 
            </li>
            <li>
                <b> Stock - </b> {{ book.status() }}
            </li>
    </p>
    <p>
        <a href="/library">Back to all books </a>
    </p>


    <form class="book-form" action="/library/delete/{{ book.title }}" method="POST">
        <input type="submit" value="Delete">
    </form>


{% endblock %}